Flask==2.2.2
Flask-Cors==3.0.10
Flask-SocketIO==5.3.3
Werkzeug==2.2.2
# kisstomato-start-user-code-kisstomato
pymongo==4.3.3
numpy==1.23.5
tensorflow==2.12.0
ephem==4.1.5
# kisstomato-end-user-code-kisstomato