#block_body{
	margin: 5px;
}

#tree .icon{
	#border:1px solid red;
	margin-right: 10px;
}

#col_left{
	#border:1px solid red;
	overflow: auto;
}

#col_right{
	
}

.icon_selected {
	border:2px solid blue;
	border-radius: 5px;
	width: 60px;
	height: 50px;
	text-align: center;
	padding: 10px;
}